In [197]:
import pyspark as ps
from pyspark.sql import SparkSession
import pandas as pd
import numpy as np

In [198]:
species = pd.read_csv('species.csv')

In [199]:
print(species.head())

   Unnamed: 0               Species Name            Common Name          Type  \
0           0        Abies beshanzuensis            Baishan fir  Plant (Tree)
1           1            Actinote zikani                      -        Insect
2           2      Aipysurus foliosquama  Leaf scaled sea-snake       Reptile
3           3    Amanipodagrion gilliesi         Amani flatwing        Insect
4           4  Antisolabis seychellensis                      -        Insect

                                       Location(s)  Estimated Population  \
0              Baishanzu Mountain, Zhejiang, China  5 mature individuals
1          Near São Paulo, Atlantic forest, Brazil               Unknown
2        Ashmore Reef and Hibernia Reef, Timor Sea               Unknown
3  Amani-Sigi Forest, Usambara Mountains, Tanzania     < 500 individuals
4             Morne Blanc, Mahé island, Seychelles               Unknown

                                             Threats
0                                  Agriculture, fire
1                  Habitat loss from human expansion
2  Unknown—probably degradation of coral reef hab...
3               Population pressure, water pollution
4                   Invasive species, climate change

In [200]:
# change title for for first cell
species.rename(columns = {'Unnamed: 0':'species_id'}, inplace = True)

In [201]:
#print first row of species
print(species.head(1))

   species_id         Species Name  Common Name          Type  \
0           0  Abies beshanzuensis  Baishan fir  Plant (Tree)

                           Location(s)  Estimated Population  \
0  Baishanzu Mountain, Zhejiang, China  5 mature individuals

             Threats
0  Agriculture, fire

In [202]:
#number of rows

print(species.shape)

(90, 7)

In [203]:
#identify unique threats 
print(species.Threats.unique())

['Agriculture, fire' 'Habitat loss from human expansion'
 'Unknown—probably degradation of coral reef habitat'
 'Population pressure, water pollution' 'Invasive species, climate change'
 'Recreational facilities, water diversion'
 'Competition, predation by Gambusia, road construction'
 'Hunting, cave disturbance' 'Hydropower development'
 'Agricultural development, energy transmission lines'
 'Illegal collection for international pet trade'
 'Chytridiomycosis, logging, agricultural expansion'
 'Agriculture, hunting, fishing, introduced fish'
 'Climate change, oceanographic changes related to the 1982/1983 El Nino'
 'Over-fishing due to value of swim-bladder in traditional medicine'
 'Illegal export to China' 'Forest clearance, overgrazing, development'
 'Habitat loss, competition with livestock, poaching'
 'Disease from commercial bees, habitat destruction and degradation'
 'Large-scale deforestation and logging'
 'Illegal logging of mangrove forests for firewood and construction, hunting'
 'Habitat exploitation by livestock, modification of the pool by locals'
 'Agriculture' 'Habitat disturbance, possible hunting, small population'
 'Hunting, habitat loss'
 'Habitat degradation, predation by invasive species' 'Limited habitat'
 'Logging, cattle grazing, fire, agriculture'
 'Habitat destruction, predation by introduced species'
 'Poaching, limited habitat' 'Infrastructure development'
 'Hunting (horn is used in traditional medicine)'
 'Disease, incidental by-catch in long-line fishing'
 'Collection for medicinal use'
 'Agricultural activity, illegal tree felling, alluvial gold digging, small population'
 'Logging of lowland forest, creation of industrial plantations'
 'Predation by birds, range restriction due to habitat destruction'
 'Encroachment by invasive plant species, habitat loss due to cannabis cultivation'
 'Habitat degradation' 'Charcoal production, slash-and-burn agriculture'
 'Collection of flowering plants'
 'Limited habitat, small population size increase vulnerability'
 'Illegal logging, agricultural expansion, infrastructure development'
 'Trapping, land reclamation'
 'Agriculture, illegal tree felling, alluvial gold digging'
 'Habitat degradation and destruction, hunting'
 'Timber extraction, agriculture, encroachment and development, predation by wild pigs'
 'Increasing pollution levels, off-take of water, sedimentation events'
 'Invasive plants, water abstraction'
 'Overgrazing, trampling by goats and tourists'
 'Agricultural expansion, overgrazing, fire suppression'
 'Habitat degradation due to feral ungulates, competition with invasive plant species'
 'Overfishing, damming, agriculture, other land use'
 'Habitat degradation due to reduction in water quality and quantity'
 'Urbanisation, over-grazing, conifer planting, road widening'
 'Chytridiomycosis, predation by invasive species'
 'Fungal disease, climate change, land-use changes'
 'Habitat loss, hunting' 'Isolation of species, low regeneration rates'
 'Pollution, development' 'Habitat loss, human disturbance' 'Poaching'
 'Hunting' 'Illegal collection for pet trade'
 'Habitat destruction and degradation due to drainage, agricultural expansion, exploitation of forest'
 'Overfishing, collection for aquarium trade'
 'Human expansion, limited range' "Capture in fishermen's gillnets"
 'Destruction of forest' 'Limited distribution, small population size'
 'Deforestation, firewood collection, civil unrest'
 'Predation by introduced species (Rattus rattus and feral cats)'
 'Exploitation has removed the species from 95% of its historical range'
 'Hunting, habitat disturbance' 'Loss of habitat, destruction, predation'
 'Habitat destruction, hunting'
 'Development project, competition from invasive plant species'
 'Climate change, habitat loss'
 'Hunting for consumption, wetland destruction, pollution'
 'Hunting for traditional medicine, small population size'
 'Land clearance for agriculture, climate change, salinisation'
 'Development causing habitat loss' 'Habitat degradation and destruction'
 'Domestic animal grazing, climate change, drought, medicinal plant collecting, limited range'
 'Loss of habitat' 'Urban development, coffee cultivation' nan]

In [204]:
# remove rows with threats as nan

species = species.dropna(subset=['Threats'])

In [205]:
print(species.shape)

(89, 7)

In [206]:
# gather all the unique regions
locations = species['Location(s)']

# create a list of all the unique regions
locations_list = []
for location in locations:
    locations_list.append(location.split(', '))

In [207]:
print(locations_list)

[['Baishanzu Mountain', 'Zhejiang', 'China'], ['Near São Paulo', 'Atlantic forest', 'Brazil'], ['Ashmore Reef and Hibernia Reef', 'Timor Sea'], ['Amani-Sigi Forest', 'Usambara Mountains', 'Tanzania'], ['Morne Blanc', 'Mahé island', 'Seychelles'], ['Chapado do Araripe', 'South Ceará', 'Brazil'], ['South-eastern shore of former Lake Aci', 'Turkey'], ['Luplupwintern Cave', 'Western Province', 'Papua NG'], ['Bhutan', 'North East India', 'Myanmar'], ['Rajasthan', 'Gujarat', 'Maharashtra', 'India'], ['Baly Bay region', 'northwestern Madagascar'], ['Azuay', 'Cañar', 'Guyas provinces', 'Ecuador'], ['Volcanic lakes north of Bealanana', 'Madagascar'], ['Unknown'], ['Chinese coast from Yangtze River', 'China to Hong Kong'], ['Bangladesh', 'Cambodia', 'India', 'Indonesia', 'Malaysia'], ['Budini and Lafeti Khola', 'Bhutan'], ['South-east Kenya', 'possibly south-west Somalia'], ['Oregon and California'], ['Atlantic forest', 'south-eastern Brazil'], ['Isla Escudo de Veraguas', 'Panama'], ['Pool on Gavdos', 'Greece'], ["Anosibe An'Ala region", 'eastern Madagascar'], ['Moleques do Sul Island', 'Santa Catarina', 'Brazil'], ["Côte d'Ivoire"], ['Two small caves on Silhouette and Mahé', 'Seychelles'], ['Pembrokeshire', 'United Kingdom'], ['Volcán San Martín Tuxtla', 'Veracruz', 'Mexico'], ['Hellshire Hills', 'Jamaica'], ['Deciduous forest', 'East Madagascar'], ['Ironwood Forest', 'George Town', 'Grand Cayman'], ['Sabah', 'Sarawak', 'Peninsular Malaysia', 'Kalimantan', 'Sumatra', 'Indonesia'], ['Breeds on Plateuau des Tourbières', 'Amsterdam Island', 'Indian Ocean'], ['Oshoek area', 'Mpumalanga', 'South Africa'], ['Kasyoha-Kitomi Forest Reserve', 'Uganda'], ['Siangau Forest Reserve', 'Sabah', 'Malaysia'], ['Hula Valley', 'Israel'], ['Mauritius'], ['Grand Bassin', 'Mauritius'], ['Massif de la Hotte', 'Haiti'], ['Formon and Macaya peaks', 'Masif de la Hotte', 'Haiti'], ['Pta Molles and Pichidungui', 'Chile'], ['Namatimbili-Ngarama Forest', 'Tanzania'], ['Witu Forest Reserve', 'Kenya'], ['Breeds in Russia', 'migrates along the East Asian-Australasian Flyway to wintering grounds in India', 'Bangladesh', 'Myanmar'], ['Kasyoha-Kitomi Forest Reserve', 'Ishasha River', 'Uganda'], ['Breeds in Morocco', 'Turkey', 'Syria; winters in central Ethiopia'], ['Kaya Muhaka', 'Gongoni and Mrima Forest Reserves', 'Kenya; Amani Nature Reserve', 'West Kilombero Scarp Forest Reserve', 'Kihansi Gorge', 'Tanzania'], ['Lake Ohrid', 'Macedonia'], ['Table Mountain', 'Western Cape Province', 'South Africa'], ['Jandia peninsula', 'Fuerteventura', 'Canary Islands'], ['Liben Plains', 'southern Ethiopia'], ['Kalalau Valley', 'Hawaii'], ['Russian and Japanese rivers', 'Pacific Ocean between Russia and Japan'], ['Bukit Timah Nature Reserve and streamlet near Bukit Batok', 'Singapore'], ['Outskirts of Belin village', 'Antalya', 'Turkey'], ['Coromandel peninsula and Whareorino Forest', 'New Zealand'], ['Harrison County', 'Mississippi', 'USA'], ['Quang Binh', 'Quang Tri', 'Thua Thien-Hue', 'Vietnam'], ['Risaralda', 'Colombia'], ['Oued Denna', 'Oued Abid', 'Oued Beth', 'Morocco'], ['Silhouette Island', 'Seychelles'], ['Cueva La Barca', 'Isle of Pines', 'Cuba'], ['Mount Victoria', 'Palawan', 'Philippines'], ['Hainan Island', 'China'], ['Zagros Mountains', 'Lorestan', 'Iran'], ['Mulanje Plateau', 'Malawi'], ['Chao Phraya and Mekong basins in Cambodia', 'China', 'Lao PDR', 'Thailand', 'Vietnam'], ['Cerrado', 'Brazil'], ['Northern Gulf of California', 'Mexico'], ['Qinling Range', 'China'], ['Qiaojia', 'Yunnan', 'China'], ['Nandyal and Giddalur', 'Andhra Pradesh', 'India'], ['Fatu Hiva', 'Marquesas Islands', 'French Polynesia'], ['Coastal tropical and subtropical waters of Indo-Pacific and Atlantic Oceans'], ['Maroantsetra to Andapa basin', 'Marojeju Massif', 'Madagascar'], ['Western Cape Province', 'South Africa'], ['Annamite mountains', 'Viet Nam - Laos PDR border'], ['Mauritius'], ['Beydaglari range', 'Antalaya', 'Turkey'], ['Hoan Kiem Lake', 'Dong Mo Lake', 'Viet Nam', 'Suzhou Zoo', 'China'], ['Ujung Kulon National Park', 'Java', 'Indonesia'], ['Northeastern Vietnam'], ['Western Australia', 'Australia'], ['Boni-Dodori Forest', 'Lamu area', 'Kenya'], ['Rivulet beside the Kawasan River', 'Cebu', 'Philippines'], ['St Katherine Mountains', 'Egypt'], ['Marshes of Lake Alaotra', 'Madagascar'], ['Sierra Nevada de Santa Marta', 'Colombia']]

In [208]:
#shape of locations_list
print(len(locations_list))

89

In [209]:
# append it to the species dataframe new coulumn
species = species.copy()
species['location_list'] = locations_list

In [210]:
species.head()

,species_id,Species Name,Common Name,Type,Location(s),Estimated Population,Threats,location_list
0,0,Abies beshanzuensis,Baishan fir,Plant (Tree),"Baishanzu Mountain, Zhejiang, China",5 mature individuals,"Agriculture, fire","[Baishanzu Mountain, Zhejiang, China]"
1,1,Actinote zikani,-,Insect,"Near São Paulo, Atlantic forest, Brazil",Unknown,Habitat loss from human expansion,"[Near São Paulo, Atlantic forest, Brazil]"
2,2,Aipysurus foliosquama,Leaf scaled sea-snake,Reptile,"Ashmore Reef and Hibernia Reef, Timor Sea",Unknown,Unknown—probably degradation of coral reef hab...,"[Ashmore Reef and Hibernia Reef, Timor Sea]"
3,3,Amanipodagrion gilliesi,Amani flatwing,Insect,"Amani-Sigi Forest, Usambara Mountains, Tanzania",< 500 individuals,"Population pressure, water pollution","[Amani-Sigi Forest, Usambara Mountains, Tanzania]"
4,4,Antisolabis seychellensis,-,Insect,"Morne Blanc, Mahé island, Seychelles",Unknown,"Invasive species, climate change","[Morne Blanc, Mahé island, Seychelles]"

In [211]:
# show me the lsit of locations with 1 item in the list
for location in locations_list:
    if len(location) == 1:
        print(location)

['Unknown']
['Oregon and California']
["Côte d'Ivoire"]
['Mauritius']
['Coastal tropical and subtropical waters of Indo-Pacific and Atlantic Oceans']
['Mauritius']
['Northeastern Vietnam']

In [212]:
#drop unknown locations

species = species[species['Location(s)'] != 'Unknown']

In [213]:
for location in locations_list:
    if len(location) == 2:
        print(location)

['Ashmore Reef and Hibernia Reef', 'Timor Sea']
['South-eastern shore of former Lake Aci', 'Turkey']
['Baly Bay region', 'northwestern Madagascar']
['Volcanic lakes north of Bealanana', 'Madagascar']
['Chinese coast from Yangtze River', 'China to Hong Kong']
['Budini and Lafeti Khola', 'Bhutan']
['South-east Kenya', 'possibly south-west Somalia']
['Atlantic forest', 'south-eastern Brazil']
['Isla Escudo de Veraguas', 'Panama']
['Pool on Gavdos', 'Greece']
["Anosibe An'Ala region", 'eastern Madagascar']
['Two small caves on Silhouette and Mahé', 'Seychelles']
['Pembrokeshire', 'United Kingdom']
['Hellshire Hills', 'Jamaica']
['Deciduous forest', 'East Madagascar']
['Kasyoha-Kitomi Forest Reserve', 'Uganda']
['Hula Valley', 'Israel']
['Grand Bassin', 'Mauritius']
['Massif de la Hotte', 'Haiti']
['Pta Molles and Pichidungui', 'Chile']
['Namatimbili-Ngarama Forest', 'Tanzania']
['Witu Forest Reserve', 'Kenya']
['Lake Ohrid', 'Macedonia']
['Liben Plains', 'southern Ethiopia']
['Kalalau Valley', 'Hawaii']
['Russian and Japanese rivers', 'Pacific Ocean between Russia and Japan']
['Bukit Timah Nature Reserve and streamlet near Bukit Batok', 'Singapore']
['Coromandel peninsula and Whareorino Forest', 'New Zealand']
['Risaralda', 'Colombia']
['Silhouette Island', 'Seychelles']
['Hainan Island', 'China']
['Mulanje Plateau', 'Malawi']
['Cerrado', 'Brazil']
['Northern Gulf of California', 'Mexico']
['Qinling Range', 'China']
['Western Cape Province', 'South Africa']
['Annamite mountains', 'Viet Nam - Laos PDR border']
['Western Australia', 'Australia']
['St Katherine Mountains', 'Egypt']
['Marshes of Lake Alaotra', 'Madagascar']
['Sierra Nevada de Santa Marta', 'Colombia']

In [214]:
print(species.shape)

(88, 8)

In [215]:
# what are all the different lengths of the location list
lengths = []
for location in locations_list:
    lengths.append(len(location))

print(set(lengths))

{1, 2, 3, 4, 5, 6}

In [216]:
# for each item in the list in location_list, create a column region, city, country
regions = []
cities = []
countries = []

# handle cases with different lengths of location list
for location in locations_list:
    if len(location) == 2:
        regions.append(location[0])
        cities.append('NA')
        countries.append(location[1])
    elif len(location) == 3:
        regions.append(location[0])
        cities.append(location[1])
        countries.append(location[2])
    elif len(location) == 1:
        regions.append('NA')
        cities.append('NA')
        countries.append(location[0])

In [217]:
# species['region'] = regions
# species['city'] = cities
# species['country'] = countries

In [218]:
species.head()

,species_id,Species Name,Common Name,Type,Location(s),Estimated Population,Threats,location_list
0,0,Abies beshanzuensis,Baishan fir,Plant (Tree),"Baishanzu Mountain, Zhejiang, China",5 mature individuals,"Agriculture, fire","[Baishanzu Mountain, Zhejiang, China]"
1,1,Actinote zikani,-,Insect,"Near São Paulo, Atlantic forest, Brazil",Unknown,Habitat loss from human expansion,"[Near São Paulo, Atlantic forest, Brazil]"
2,2,Aipysurus foliosquama,Leaf scaled sea-snake,Reptile,"Ashmore Reef and Hibernia Reef, Timor Sea",Unknown,Unknown—probably degradation of coral reef hab...,"[Ashmore Reef and Hibernia Reef, Timor Sea]"
3,3,Amanipodagrion gilliesi,Amani flatwing,Insect,"Amani-Sigi Forest, Usambara Mountains, Tanzania",< 500 individuals,"Population pressure, water pollution","[Amani-Sigi Forest, Usambara Mountains, Tanzania]"
4,4,Antisolabis seychellensis,-,Insect,"Morne Blanc, Mahé island, Seychelles",Unknown,"Invasive species, climate change","[Morne Blanc, Mahé island, Seychelles]"

In [219]:
trainingSet = pd.read_csv('D:\Woking Office\Calgary Hacks\EndangeredAnimal\LivingPlanetIndex_2024_PublicData\LivingPlanetIndex_2024_PublicData\LPD_2024_public.csv', encoding='ISO-8859-1')

In [220]:
trainingSet.head(0)

Empty DataFrame
Columns: [ID, Binomial, Replicate, Included in LPR2024, Citation, Class, Order, Family, Genus, Species, Subspecies, Common_name, Location, Country, All_countries, Region, IPBES_region, IPBES_subregion, Latitude, Longitude, Specific_location, System, T_realm, T_biome, FW_realm, FW_biome, M_realm, M_ocean, M_biome, Units, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, ...]
Index: []

[0 rows x 103 columns]

In [221]:

trainingSet.shape

(35996, 103)

In [222]:
#drop irrelevant columns like citation, data provider, etc
df2 = trainingSet.drop(columns=['Binomial','Replicate','Included in LPR2024','Citation', 'Unnamed: 102'])

In [223]:
df2.shape

(35996, 98)

In [224]:
# is there a title called Common Name
df2['Common_name']

0                                Grey-crowned crane
1                                Seychelles warbler
2                           Seychelles magpie-robin
3                           Seychelles magpie-robin
4                                 Mauritius kestrel
                            ...
35991    Mountain gorilla / Eastern lowland gorilla
35992                                Chinook salmon
35993                                European bison
35994                            Northern bald ibis
35995                              Ryukyu scops-owl
Name: Common_name, Length: 35996, dtype: object

In [225]:
df2 = df2.drop(columns=['Common_name', 'Subspecies'])

In [226]:
df2.shape

df2.drop

<bound method DataFrame.drop of             ID        Class           Order             Family         Genus  \
0            1         Aves      Gruiformes            Gruidae     Balearica
1            2         Aves   Passeriformes     Acrocephalidae  Acrocephalus
2            3         Aves   Passeriformes       Muscicapidae     Copsychus
3            4         Aves   Passeriformes       Muscicapidae     Copsychus
4            5         Aves   Falconiformes         Falconidae         Falco
...        ...          ...             ...                ...           ...
35991  1000003     Mammalia        Primates          Hominidae       Gorilla
35992  1000004  Actinopteri   Salmoniformes         Salmonidae  Oncorhynchus
35993  1000005     Mammalia    Artiodactyla            Bovidae         Bison
35994  1000006         Aves  Pelecaniformes  Threskiornithidae    Geronticus
35995  1000007         Aves    Strigiformes          Strigidae          Otus

            Species                                     Location  \
0         regulorum                         South-western Uganda
1      sechellensis                    Cousin Island, Seychelles
2       sechellarum                                   Seychelles
3       sechellarum                   Fregate Island, Seychelles
4         punctatus                Western Population, Mauritius
...             ...                                          ...
35991      beringei           Virunga Range, Uganda, Rwanda, DRC
35992   tshawytscha                  Sacramento River winter-run
35993       bonasus                                       Europe
35994       eremita         Souss-Massa and Tamri, Agadir region
35995       elegans  Minami-daito Island, east of Okinawa Island

             Country                                      All_countries  \
0             Uganda                                             Uganda
1         Seychelles                                         Seychelles
2         Seychelles                                         Seychelles
3         Seychelles                                         Seychelles
4          Mauritius                                          Mauritius
...              ...                                                ...
35991         Uganda  Uganda, Rwanda, Congo, The Democratic Republic...
35992  United States                                      United States
35993        Belarus  Belarus, Poland, Russian Federation, Ukraine, ...
35994        Morocco                                            Morocco
35995          Japan                                              Japan

              Region  ...    2012    2013    2014    2015    2016    2017  \
0             Africa  ...     NaN     NaN     NaN     NaN     NaN     NaN
1             Africa  ...     NaN     NaN     NaN     NaN     NaN     NaN
2             Africa  ...     NaN     NaN     NaN     NaN     NaN     NaN
3             Africa  ...     NaN     NaN     NaN     NaN     NaN     NaN
4             Africa  ...     NaN     NaN     NaN     NaN     NaN     NaN
...              ...  ...     ...     ...     ...     ...     ...     ...
35991         Africa  ...     NaN     NaN     NaN   669.0     NaN     NaN
35992  North America  ...  2671.0  6086.0  3015.0  3440.0  1549.0   979.0
35993         Europe  ...     NaN     NaN     NaN  3994.0     NaN  5024.0
35994         Africa  ...    65.0   113.0   115.0   116.0   111.0   122.0
35995           Asia  ...   667.0   596.0   549.0   536.0   644.0   554.0

         2018    2019    2020 Native
0         NaN     NaN     NaN      1
1         NaN     NaN     NaN      1
2         NaN     NaN     NaN      1
3         NaN     NaN     NaN      1
4         NaN     NaN     NaN      1
...       ...     ...     ...    ...
35991     NaN     NaN     NaN      1
35992  2639.0  8128.0  7428.0      1
35993  5357.0  6244.0  6819.0      1
35994   147.0     NaN     NaN      1
35995   544.0     NaN     NaN      1

[35996 rows x 96 columns]>

In [227]:
#drop rows with nan values for Class
df2 = df2.dropna(subset=['Class'])

df2.shape

#find column range for years 1950 to 2020
df2.columns.get_loc('1950')

24

In [228]:
df2.columns.get_loc('2020')

94

In [229]:
df2.shape

(35996, 96)

In [233]:
#interprolate the missing values for columns 1950 to 2020
df2
df2.iloc[:, 24:95] = df2.iloc[:, 24:95].interpolate(method='linear', axis=1)

In [234]:
#index of columns for 1950 to 2020

df2.head()

,ID,Class,Order,Family,Genus,Species,Location,Country,All_countries,Region,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Native
0,1,Aves,Gruiformes,Gruidae,Balearica,regulorum,South-western Uganda,Uganda,Uganda,Africa,...,10.8,10.8,10.8,10.8,10.8,10.8,10.8,10.8,10.8,1
1,2,Aves,Passeriformes,Acrocephalidae,Acrocephalus,sechellensis,"Cousin Island, Seychelles",Seychelles,Seychelles,Africa,...,430.0,430.0,430.0,430.0,430.0,430.0,430.0,430.0,430.0,1
2,3,Aves,Passeriformes,Muscicapidae,Copsychus,sechellarum,Seychelles,Seychelles,Seychelles,Africa,...,21.0,21.0,21.0,21.0,21.0,21.0,21.0,21.0,21.0,1
3,4,Aves,Passeriformes,Muscicapidae,Copsychus,sechellarum,"Fregate Island, Seychelles",Seychelles,Seychelles,Africa,...,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,1
4,5,Aves,Falconiformes,Falconidae,Falco,punctatus,"Western Population, Mauritius",Mauritius,Mauritius,Africa,...,61.0,61.0,61.0,61.0,61.0,61.0,61.0,61.0,61.0,1